.clrB{clear:both;}

@media screen and (max-width: 600px) {
	.slidePager {display:none;}
	.responsivegalleryWrap.theme3 .titledesc .title, .responsivegalleryWrap.theme4 .titledesc .title {font-size:10px;line-height:12px;padding-bottom:4px;}
	.responsivegalleryWrap.theme3 .titledesc .description, .responsivegalleryWrap.theme4 .titledesc .description {display:none;}
	.responsivegalleryWrap.theme1 .slideNav .controls{top: 0px !important;}
	.responsivegalleryThumbs .thumbsNav .thumbsPagerPrev { background: url("/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png") no-repeat scroll 0 3px transparent;  float: left;  height: 18px;  width: 10px;}
	.responsivegalleryWrap .prevNext a{opacity:1 !important;}
	.responsivegalleryWrap .titledesc{line-height:18px;}
	div.responsivegalleryWrap .slideNav .controls {padding: 2px;}
}

.responsivegalleryWrap a, .responsivegalleryWrap a:hover {text-decoration:none;}

.responsivegalleryWrap{position:relative;clear:both;overflow:hidden;}
	.responsivegalleryWrap .slides a {position: absolute; top: 0; left: 0;width: 100%; padding: 0; display: block;}
	.responsivegalleryWrap .slides a img{width:100%;}


	.responsivegalleryWrap .slideNav .slidePager{float:left;margin-right:10px;}
		.responsivegalleryWrap.theme1 .slideNav .slidePager {margin:auto;}
	.responsivegalleryWrap .slideNav .controls{float:left;}
	
	.responsivegalleryWrap .slideNav .controls{background:#333333;border-radius: 0 0 0 10px;padding: 10px;position: absolute;right: 0;top: 0;z-index:1000;}
		.responsivegalleryWrap.theme1 .slideNav .controls{top: 30px;}
	.responsivegalleryWrap .slideNav .controls .slidePagerToggle {background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -311px -28px;width:34px;height:34px;display:block;float:left;}
		.responsivegalleryWrap .slideNav .controls .slidePagerToggle:hover {background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -311px -72px;}
	.responsivegalleryWrap .slideNav .controls .slidePagerToggle.pause {background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -411px -28px;}
		.responsivegalleryWrap .slideNav .controls .slidePagerToggle.pause:hover {background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -411px -72px;}
		
		
.responsivegalleryWrap .slideNav .slidePager span, .responsivegalleryCnt .thumbsNav .thumbsPager span {float:left;cursor:pointer;}
		.responsivegalleryCnt .thumbsNav .thumbsPager{float:left;}
		.responsivegalleryCnt.pagerNumbers .slidePager span{color: #000000;margin-right: 1px;padding: 0 2px;font-size:12px;}
			.responsivegalleryCnt.pagerNumbers .slideNav .slidePager span:hover, .responsivegalleryCnt.pagerNumbers .slideNav .slidePager span.cycle-pager-active {color:#fff;background:#666;}
		.responsivegalleryCnt.pagerBullets .slidePager span, .responsivegalleryCnt.pagerBullets .thumbsPager span {width:20px;height:30px;background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -202px -84px;text-indent:5000px;}
			.responsivegalleryCnt.pagerBullets .slideNav .slidePager span:hover, .responsivegalleryCnt.pagerBullets .thumbsNav .thumbsPager span:hover{background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -202px -41px;}
			.responsivegalleryCnt.pagerBullets .slideNav .slidePager span.cycle-pager-active, .responsivegalleryCnt.pagerBullets .thumbsNav .thumbsPager span.cycle-pager-active {background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -202px 0px;}
			
.responsivegalleryWrap .prevNext a {position:absolute;top:25%;z-index:1000;height:50%;width:18%;display:block;}
	.responsivegalleryWrap .prevNext a span {display:block;height:34px;width:35px;position:absolute;top:50%;margin-top:-18px;cursor:pointer}
	.responsivegalleryWrap .prevNext a.slidePrev {left:0;}
		.responsivegalleryWrap .prevNext a.slidePrev span{left:0;background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -119px -70px;}
	.responsivegalleryWrap .prevNext a.slideNext {right:0;}
		.responsivegalleryWrap .prevNext a.slideNext span{right:0;background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -61px -70px;}
	
	
.responsivegalleryWrap .titledesc{display:block;position:absolute;left:0;bottom:0;width:100%;background:url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/slidetitledesc-bg.png);z-index:600;line-height:22px;}
	.responsivegalleryWrap .titledesc .title{display:block;color:#fff;font-size:1.2em;padding:0 5px;}
	.responsivegalleryWrap .titledesc .description{display:block;color:#ccc;padding:0 5px;}

.responsivegalleryWrap.theme1 .slideNav {overflow:hidden;}
.responsivegalleryWrap.theme1 .slides {clear:both;}

.responsivegalleryWrap .slideNav a.slidePrev {background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -270px -86px;width:14px;height:12px;float:left;margin:10px 10px 0 0;}
		.responsivegalleryWrap .slideNav a.slidePrev:hover {background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -270px -42px;}
	.responsivegalleryWrap .slideNav a.slideNext {background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -371px -86px;width:14px;height:12px;float:left;margin:10px 0 0 10px;}
		.responsivegalleryWrap .slideNav a.slideNext:hover {background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -371px -42px;}

.responsivegalleryWrap .slideNav .slidePagerToggle {background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -311px -73px;width:34px;height:34px;display:block;float:left;}
		.responsivegalleryWrap .slideNav .slidePagerToggle:hover {background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -311px -29px;}
	.responsivegalleryWrap .slideNav .slidePagerToggle.pause {background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -411px -73px;}
		.responsivegalleryWrap .slideNav .slidePagerToggle.pause:hover {background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -411px -29px;}
		
		
.responsivegalleryThumbs .thumbsNav {text-align:center;display:block;overflow:hidden;float:left;margin:10px auto; }
	.responsivegalleryThumbs .thumbsNav .thumbsPagerPrev {background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -270px -86px;width:14px;height:12px;float:left;margin:3px 10px 0 0;}
			.responsivegalleryThumbs .thumbsNav .thumbsPagerPrev:hover, .responsivegalleryThumbs .thumbsNav .thumbsPagerPrev.disabled {background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -270px -42px;}
		.responsivegalleryThumbs .thumbsNav .thumbsPagerNext {background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -371px -86px;width:14px;height:12px;float:left;margin:3px 0 0 10px;}
			.responsivegalleryThumbs .thumbsNav .thumbsPagerNext:hover, .responsivegalleryThumbs .thumbsNav .thumbsPagerNext.disabled {background: url(/web/20181102000355im_/http://bandarepublica.com/plugins/content/responsivegallery/images/responsivegallery.png) no-repeat -371px -42px;}
.responsivegalleryThumbs .thumbSlides {overflow:hidden;}


/*
     FILE ARCHIVED ON 00:03:55 Nov 02, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:37:45 Jul 19, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 78.596 (3)
  captures_list: 112.396
  RedisCDXSource: 6.664
  esindex: 0.014
  CDXLines.iter: 23.114 (3)
  PetaboxLoader3.resolve: 82.768 (2)
  exclusion.robots: 0.21
  PetaboxLoader3.datanode: 255.619 (5)
  exclusion.robots.policy: 0.194
  load_resource: 288.085 (2)
*/