.responsivegalleryWrap.theme4 .thumbSlide{float:left;margin:5px;border:solid 1px #ccc;padding:2px;border-radius:0 0 5px 5px;background:#f4f4f4;}
.responsivegalleryWrap.theme4 .slides a{position:relative;}
.responsivegalleryWrap.theme4 .titledesc{position:relative;overflow:hidden !important;line-height:15px;background:none;}
	.responsivegalleryWrap.theme4 .titledesc .title {color:#000;font-size:12px;}
	.responsivegalleryWrap.theme4 .titledesc .description {font-size:10px;line-height:12px;margin-top:2px;color:#999;}
.responsivegalleryWrap.theme4 .group{float:left;}


.responsivegalleryWrap.theme4 .slideNav {position:relative;float:right;margin-right:5px;display:inline-block;right:0;top:0;}
.responsivegalleryWrap.theme4 .slides {clear:both;overflow:hidden;}

.responsivegalleryWrap.theme4 .slideNav .slidePager {margin-top:7px;}

/*
     FILE ARCHIVED ON 19:55:06 Nov 01, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:37:45 Jul 19, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 286.253
  exclusion.robots: 0.11
  exclusion.robots.policy: 0.103
  RedisCDXSource: 25.888
  esindex: 0.009
  LoadShardBlock: 234.358 (3)
  PetaboxLoader3.datanode: 256.147 (5)
  CDXLines.iter: 23.085 (3)
  load_resource: 120.189 (2)
  PetaboxLoader3.resolve: 58.356 (2)
*/