/*------------------------------------------------------------------------
# "Hot Music Band" - Joomla Template by HotThemes
# Copyright (C) 2013 HotThemes. All Rights Reserved.
# License: http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
# Author: HotJoomlaTemplates.com
# Website: http://www.hotjoomlatemplates.com
-------------------------------------------------------------------------*/

/******* COMMON SPARKY'S TEXT STYLES *******/

body {
	margin:0;
	padding:0;
}

a:focus {
	outline: none;
}

p {
	margin: 0 0 15px;
}

h1 {
    padding:0 0 30px 0;
    margin:0;
    line-height:normal;
}

h2, h2 a {
    padding:0 0 15px 0;
    margin:0;
    line-height:normal;
}

h3 {
    margin:15px 0;
    padding:0;
}

.item-page h3 {
	font-size: 18px;
	text-transform: none;
	text-align: center;
}

h4 {
    margin:0 0 15px 0;
    padding:0;
}

fieldset {
	border: none;
}

/* read more button */

p.readmore a {
	display: inline-block;
	padding: 0;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	text-shadow: none;
	vertical-align: middle;
	cursor: pointer;
	background-color: transparent;
	background-image: none;
	border: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


.responsivegalleryWrap.theme4 .thumbSlide {
    
    border: none!important;
   
}
p.readmore a:hover, p.readmore a:focus {
	color: #fff;
	text-decoration: none;
}

/* contacts category layout */

.category th {
	height: 30px;
	background: #eee;
}

.category .item-num {
	width:9%;
	padding:1%;
}

.category .item-title {
	width:17%;
	padding:1%;
}

.category td.item-title a:link,
.category td.item-title a:visited,
.category td.item-title a:hover {
	text-decoration:underline;
}

.category .item-position {
	width:17%;
	padding:1%;
}

.category .item-phone {
	width:17%;
	padding:1%;
}

.category .item-suburb {
	width:17%;
	padding:1%;
}

.category .item-state {
	width:17%;
	padding:1%;
}

/* forms */

.input {
	margin:0;
	padding:0;
}

.inputbox, input.required, textarea.required {
	display: inline-block;
	vertical-align: middle;
	padding: 8px;
	margin: 0;
	background-color: #ffffff;
	color:#555555;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.button, .btn {
	display: inline-block;
	padding: 8px;
	margin: 0;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.button:hover, .btn:hover {
	color: #333333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
	background-color: #e6e6e6;
}

#login-form input {
	padding: 4px;
}

/* lists */

ul, ol {
	margin: 15px 45px;
	padding: 0;
}

div.item-page ol li, div.item-page ul li {
	margin: 0 0 10px 0;
	padding: 0;
}

ul.arrow li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_arrow_right.png);
}

ul.arrowleft li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_arrow_left.png);
}

ul.calendar li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_calendar.png);
}

ul.checklist li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_tick.png);
}

ul.delete li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_delete.png);
}

ul.email li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_email.png);
}

ul.file li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_file.png);
}

ul.folder li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_folder.png);
}

ul.heart li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_heart.png);
}

ul.information li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_information.png);
}

ul.lock li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_lock.png);
}

ul.pencil li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_pencil.png);
}

ul.person li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_person.png);
}

ul.rss li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_rss.png);
}

ul.shop li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_shop.png);
}

ul.song li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_song.png);
}

ul.star li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_star.png);
}

ul.star2 li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_star2.png);
}

ul.trash li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_trash.png);
}

ul.tweak li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_tweak.png);
}

ul.unlock li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_unlock.png);
}

ul.warn li {
	list-style-image: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/bullet_warning.png);
}

/* typography */

.warning {
	padding:15px 15px 15px 60px;
	color:#000;
	border-top:4px solid #c10000;
	border-bottom:4px solid #c10000;
	background:#FFDE25 url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/warning.png) no-repeat center left;
}

.info {
	padding:15px 15px 15px 60px;
	color:#006699;
	border-top:4px solid #006699;
	border-bottom:4px solid #006699;
	background:#bde1ff url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/info.png) no-repeat center left;
}

.error {
	padding:15px 15px 15px 60px;
	color:#900;
	border-top:4px solid #900;
	border-bottom:4px solid #900;
	background:#f8b5b5 url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/error.png) no-repeat center left;
}

.typewriter {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/typewriter_bg.png);
	padding:20px 15px 20px 30px;
	color:#000;
	font-family:"Courier New", Courier, monospace;
	line-height:20px;
	text-align:left;
}

blockquote {
	margin:0;
	padding:15px 15px 15px 75px;
	font-size:125%;
	font-style:italic;
	font-family: serif;
	line-height:normal;
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/quotes.png) top left no-repeat;
}

.dropcap:first-letter {
	font-size: 300%;
	font-weight:bold;
	float:left;
	margin:0 10px 5px 0;
}

span.p_number {
	font-size: 400%;
	font-weight:bold;
	float:left;
	margin:0 10px 10px 0;
	position: relative;
	line-height: 40px;
}

.inset_left {
	display:block;
	float:left;
	width: 150px;
	font-style: italic;
	margin: 15px 15px 15px 0;
}

.inset_right {
	display:block;
	float:right;
	width: 150px;
	font-style: italic;
	margin: 15px 0 15px 15px;
}

.inset_title {
	font-weight:bold;
	display:block;
}

img.img_left {
	float:left;
	margin:0 30px 30px 0;
}

img.img_right {
	float:right;
	margin:0 0 30px 30px;
}

/******* CUSTOM ROWS AND CELLS STYLING *******/

.sparky_full {
}

.container {
	margin:0 auto;
	padding:0;
}

/*.row {
	padding:0;
	margin:0;
}*/

.row > * {
	float:left;
}

/* abovecontent and belowcontent modules */

div.abovecontent {
	padding: 0 0 45px 0;
}

div.belowcontent {
	padding: 30px 0 0 0;
}

/* tinynav */

select.tinynav {
	float: right;
	width: 40px;
	height: 30px;
	border:none;
	background: #ccc;
	text-indent: -9999px;
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/tinynav.png);
	-webkit-appearance: button;
}

/******* hot music band template specifics *******/

h1, h2, h2 a, h3 {
	text-transform: uppercase;
	font-weight: 600;
}

h2 {
	border-bottom: 1px solid #eeecec;
	margin-bottom: 40px;
}

.mnu_mainmenu > li {
	display: inline-block;
	float: none;
}

ul.mnu_mainmenu {
	width: 700px;
	text-align: right;
}

.sparky_logo_image {
	text-align: center;
}

.sparky_logo_image img {
	top:-30px;
	position: relative;
	-moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
	transition:0.5s;
}

.sparky_logo_image img:hover {
	top:0px;
	-moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
	transition:0.5s;
}

.music_logo {
	position: absolute;
	width: 100%;
	z-index: 100;
}

.music_social {
	position: absolute;
	width: 100%;
	z-index: 100;
	padding-top: 30px;
	text-align: right;
}

.icon_facebook, .icon_twitter, .icon_soundcloud, .icon_myspace {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	margin: 0 15px;
}

.icon_facebook {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_facebook.png);
}

.icon_facebook:hover {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_facebook_hover.png);
	transition: 1s;
}

.icon_twitter {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_twitter.png);
}

.icon_twitter:hover {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_twitter_hover.png);
	transition: 1s;
}

.icon_soundcloud {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_soundcloud.png);
}

.icon_soundcloud:hover {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_soundcloud_hover.png);
	transition: 1s;
}

.icon_myspace {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_myspace.png);
}

.icon_myspace:hover {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_myspace_hover.png);
	transition: 1s;
}

.music_carousel .container, .music_carousel .row, .mp_header1 {
	width: 100%;
	background: #38393a;
}

.mp_header1 .cell_pad {
	margin: 0;
}

.mp_header1 .contents {
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	text-shadow:1px 1px 0px #333;
}

.mp_header1 h2 {
	text-align: center;
	color: #fff;
	font-family: 'Signika', sans-serif;
	font-weight: 600;
	text-shadow:2px 2px 0px #333;
	text-transform: uppercase;
	padding: 0;
	margin-bottom: 0;
	border-bottom: none;
}

.social_icons a {
	position: relative;
	display: inline-block;
}

.social_icons a span {
	position: relative;
	display: inline-block;
	margin: 0 12px;
	width: 30px;
	height: 30px;
}

.social_icons a span.facebook {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_facebook.png);
}

.social_icons a span.twitter {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_twitter.png);
}

.social_icons a span.soundcloud {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_soundcloud.png);
}

.social_icons a span.myspace {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_myspace.png);
}

.social_icons a span.facebook:hover {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_facebook_hover.png);
	top: 0;
}

.social_icons a span.twitter:hover {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_twitter_hover.png);
}

.social_icons a span.soundcloud:hover {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_soundcloud_hover.png);
}

.social_icons a span.myspace:hover {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_myspace_hover.png);
}

.music_menu {
	background: #2c2d2e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4MzkzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYzJkMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #38393a 0%, #2c2d2e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#38393a), color-stop(100%,#2c2d2e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #38393a 0%,#2c2d2e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #38393a 0%,#2c2d2e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #38393a 0%,#2c2d2e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #38393a 0%,#2c2d2e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38393a', endColorstr='#2c2d2e',GradientType=0 ); /* IE6-8 */
	border-top: 1px solid #4b4c4d;
	min-height: 43px;
	border-bottom:#606060 solid 5px;
}



.fix_menu {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.mp_user1 {
	padding-top: 5px;
}

.mp_user1 .logo_small {
	display: block;
	width: 215px;
	height: 45px;
	text-indent: -9999px;
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/music_band_logo_small.png);
	border:none;
}

.mnu_mainmenu > li > a, .mnu_mainmenu > li > span {
	text-transform: uppercase;
}

p, .item-page li {
	font-weight: 600;
	line-height: 20px;
}

strong {
	color: #333;
}

.content_sparky {
	padding: 90px 0 30px 0;
}

.music_tour {
	background: #3bc3bb;
	padding: 60px 0 20px;
}

.music_tour h3 {
	color: #fff;
	text-align: center;
}

/* tour table */

.mp_advert2 p {
	text-align: center;
}

#months ul, #pics_video > ul {
	margin: 30px 0 40px 0;
	padding: 0;
	text-align: center;
}

#months li, #pics_video > ul > li {
	display: inline-block;
	width: 70px;
	height: 70px;
	margin: 0 38px;
	padding: 0;
	background: #fff;
	color:#606060;
	font-size: 30px;
	font-family: 'Shadows Into Light', cursive;
	line-height: 70px;
	text-align: center;
	text-transform: uppercase;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	border:5px solid #fff;
	-moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
	transition:0.5s;
}

#months li:hover, #months li.ui-state-active, #pics_video > ul > li:hover, #pics_video > ul > li.ui-state-active {
	border:5px solid #db2808 ;
	-moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
	transition:0.5s;
}

table.tour_table {
	width: 100%;
	color:#fff;
	border: 0;
	border-top: 1px solid #fff;
	line-height: 32px;
	border-spacing: 0;
	cellspacing: 0;
}

table.tour_table tr {
	transition:.5s;
}

table.tour_table tr:hover {
	background: #db2808 ;
	-moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
	transition:0.5s;
}

th.tour_cell {
	font-family: 'Shadows Into Light', cursive;
	font-size: 16px;
}

.tour_cell {
	width: 25%;
	border-bottom: 1px solid #fff;
	border-top: none;
	border-left: none;
	border-right: none;
	border-spacing: 0;
	margin:0;
	padding: 0;
	text-indent: 30px;
}

.tour_cell a {
	color: #fff;
	font-weight: bold;
}

/* tickets */

hr {
	border: none;
	border-top: 1px solid #fff;
}

.ticket_form {
	color: #fff;
	padding-top: 80px;
}

.ticket_form .left_part {
	width:45%;
	height: 157px;
	float:left;
	text-align:right;
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/ticket.png) right no-repeat;
}

.ticket_form .right_part {
	width:37%;
	margin-left: 5%;
	float:left;
}

.ticket_price {
	font-size: 30px;
	font-family: 'Shadows Into Light', cursive;
	text-transform: uppercase;
	margin-top: 30px;
}

button.ticket {
	border: none;
	border-top: 1px solid #cfcd02;
	background: #db2808 ;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RjZGIwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMGNmMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #db2808  0%, #d0cf0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db2808 ), color-stop(100%,#d0cf0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #db2808  0%,#d0cf0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #db2808  0%,#d0cf0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #db2808  0%,#d0cf0e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #db2808  0%,#d0cf0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db2808 ', endColorstr='#d0cf0e',GradientType=0 ); /* IE6-8 */
	width: 64px;
	height: 35px;
	font-size: 16px;
	font-family: 'Shadows Into Light', cursive;
	text-transform: uppercase;
	cursor: pointer;
}

button.ticket:hover {
	background: #fff;
	border-top: 1px solid #fff;
}

/* music player */

.music_player {
	padding: 60px 0;
}

.music_player h3 {
	text-align: center;
	border-bottom: 1px solid #eeecec;
	margin-bottom: 45px;
	padding-bottom: 10px;
}

.music_player div.note {
	width:25%;
	float:left;
}

.music_player div.album_songs {
	width:75%;
	float:left;
	-webkit-box-shadow:0px 0px 3px #e4e4e4;
	-moz-box-shadow:0px 0px 3px #e4e4e4;
	-o-box-shadow:0px 0px 3px #e4e4e4;
	-ms-box-shadow:0px 0px 3px #e4e4e4;
	box-shadow:0px 0px 3px #e4e4e4;
	background:#fff;
	min-height: 210px;
}

.music_player div.album_songs div.album_songs_pad {
	padding: 20px;
}

.song_name {
	text-transform: uppercase;
	line-height: 40px;
	font-weight: 600;
	height:40px;
	width: 200px;
	float:left;
	padding-left: 10px;
}

div.audio_player {
	float:right;
	width:270px;
	height:30px;
	overflow:hidden;
	margin: 5px 0;
}

div.audio_player audio {
	opacity: .3;
	width: 270px;
}

div.audio_player audio:hover {
	opacity: 1;
	-moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
	transition:0.5s;
}

div.buy_song {
	width: 30px;
	height: 40px;
	line-height: 40px;
	float: right;
	text-align: right;
}

div.buy_song a {
	font-weight: 600;
	color: #606060;
}

div.buy_song a:hover {
	color: #000;
}

/* gallery and videos */

div.music_gallery {
	background: #3bc3bb;
	padding: 60px 0;
	text-align: center;
}

div.music_gallery h3 {
	color: #fff;
	text-align: center;
}

#gallery_content, #video_content {
    overflow:hidden;
}
 
.contentbox-wrapper, .contentbox-wrapper-video {
    position:relative;
    left:0;
    width:9000px;
    height:100%;
}
 
.contentbox {
    width:960px;
    height:100%;
    float:left;
    padding:0;
}

#gallery_nav, #video_nav {
    margin:0;
    padding:0;
}
 
#gallery_nav ul, #video_nav ul {
    margin:25px 0;
    padding:0;
    background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/pixel_white.png) center repeat-x;
}

#gallery_nav li, #video_nav li {
    display:inline-block;
    width: 175px;
    margin:0;
    padding:0;
}

#gallery_nav li a, #video_nav li a {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/dot_cyan2.png);
	width: 11px;
	height: 11px;
	display: inline-block;
	text-indent: -9999px;
	margin-top: 4px;
}
 
#gallery_nav a.active, #video_nav a.active {
    background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/dot_yellow_full.png);
}

a.last_thumb img {
	margin: 0 !important;
}

.photogallery_plg {
	padding:0 5px 5px;
}

.photogallery_plg img {
	box-shadow:0px 0px 3px #333;
}

.photogallery_plg img:hover {
	box-shadow:0px 0px 5px #000;
}

/* contact form */

.music_contact {
	padding: 60px 0;
	text-align: center;
}

.music_contact h3 {
	text-align: center;
}

.rapid_contact.intro_text {
	margin: 0 0 30px 0;
}

.rapid_contact input, .rapid_contact textarea {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	box-shadow: none;
	border: none;
	background: #3bc3bb;
	color:#fff;
}

.rapid_contact textarea {
	width: 537px;
	height: 135px;
	padding: 8px;
	margin: 15px 0 0 0;
}

.rapid_contact.email, .rapid_contact.subject {
	width: 254px;
}

.rapid_contact.email {
	margin-right: 5px;
}

.rapid_contact.subject {
	margin-left: 5px;
}

div.button_wrap {
	width: 553px;
	text-align: right;
	margin: 15px auto;
}

.rapid_contact input.button {
	width: 80px;
	height: 35px;
	font-family: 'Shadows Into Light', cursive;
	font-size:16px;
	text-transform: uppercase;
	padding: 0;
}

.rapid_contact input.button:hover {
	background: #d5d40e;
	color: #000;
}

.rapid_contact input.antispam {
	width: 80px;
	height: 35px;
	padding: 0;
	margin: 0 10px;
	text-align: center;
}

/* carousel */

.hero-carousel-nav li a:hover {
	background: none;
	color: #db2808 ;
}

#hot_film_tape p {
	margin: 15px;
}

.list_carousel li {
	background: #f6f6f6;
}

.carousel-control, .foo.js {
	margin-bottom: 45px;
}

/* random header images */

.music_random .container, .music_random .row, .mp_header2 {
	width: 100%;
}

.random-image img {
	width: 100% !important;
	height: auto !important;
}

/* social */

div.music_social_bottom {
	background: #3bc3bb;
	text-align: center;
	padding: 60px 0;
}

div.music_social_bottom h3 {
	color:#fff;
	text-align: center;
}

img.social_bottom {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	margin: 0 35px;
	border: 5px solid #fff;
}

img.social_bottom:hover {
	border: 5px solid #db2808;
	background: #000;
}

/* copyright */

.music_copyright {
	background: #383939; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4MzkzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYzJkMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
	background: -moz-linear-gradient(top,  #383939 0%, #2c2d2e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#383939), color-stop(100%,#2c2d2e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #383939 0%,#2c2d2e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #383939 0%,#2c2d2e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #383939 0%,#2c2d2e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #383939 0%,#2c2d2e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383939', endColorstr='#2c2d2e',GradientType=0 ); /* IE6-8 */
	border-top: 1px solid #4b4c4d;
	font-size: 10px;
	text-transform: uppercase;
	color:#606464;
	text-align: center;
}

.music_copyright a, .music_copyright a:hover {
	color:#606464;
}

.music_copyright p {
	margin: 0;
	padding: 0;
	line-height: 30px;
}

span.note_music_band {
	display: block;
	float: left;
	text-align: center;
	width: 288px;
	height: 230px;
}

/* pagination */

div.pagination {
	border-bottom: none;
	margin: 45px 0 15px;
}

div.pagination p.counter {
	margin-bottom: 15px;
}

.pagination li {
	padding: 0 !important;
	font-size: 100%;
}

ul.pagenav {
	width: 104px;
	margin: 45px auto 15px auto !important;
	display: block !important;
}

ul.pagenav li {
	padding: 0 !important;
}

div.k2Pagination ul, div.pagination ul, ul.pagenav {
	display: inline-block;
	border:1px solid #dfdfdf;
	margin: 0 0 10px 0;
	padding: 0;
	box-shadow: 0px 0px 8px #ccc;
}

div.k2Pagination ul li, div.pagination ul li, ul.pagenav li {
	padding: 0;
	display: inline-block;
}

div.k2Pagination ul li a,
div.k2Pagination ul li span,
div.pagination ul li a,
div.pagination ul li span,
ul.pagenav li a {
	padding: 15px 0;
	border-right: 1px solid #dfdfdf;
	width: 48px;
	display: block;
}

div.k2Pagination ul li a:hover,
div.pagination ul li a:hover,
ul.pagenav li.pagenav-prev a:hover,
ul.pagenav li.pagenav-next a:hover {
	background-color: #eee;
}

div.k2Pagination ul li span,
div.pagination ul li span {
	background: #3bc3bb;
	color: #fff;
}

div.k2Pagination ul li.pagination-start span,
div.k2Pagination ul li.pagination-prev span,
div.k2Pagination ul li.pagination-next span,
div.k2Pagination ul li.pagination-end span,
div.pagination ul li.pagination-start span,
div.pagination ul li.pagination-prev span,
div.pagination ul li.pagination-next span,
div.pagination ul li.pagination-end span {
	display: none;
}

.k2Pagination li:last-child a,
.k2Pagination li:last-child span,
.pagination li:last-child a,
.pagination li:last-child span,
ul.pagenav li:last-child a {
	border-right: none;
}

li.pagination-start a {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/nav_arrow_left_end.png);
	text-indent: -9999px;
}

li.pagination-prev a,
ul.pagenav li.pagenav-prev a {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/nav_arrow_left.png);
	text-indent: -9999px;
}

li.pagination-next a,
ul.pagenav li.pagenav-next a {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/nav_arrow_right.png);
	text-indent: -9999px;
}

li.pagination-end a {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/nav_arrow_right_end.png);
	text-indent: -9999px;
}

/* K2 component styling */

#k2Container h1 {
	padding-bottom: 0;
}

.content_sparky .cell_pad .itemContainer {
	width: 290px !important;
	margin-right: 40px;
	background: #fff;
	border-bottom: none;
	-webkit-box-shadow: 0 0 4px #ccc;
	-moz-box-shadow: 0 0 4px #ccc;
	box-shadow: 0 0 4px #ccc;
	-moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
	transition:0.5s;
}

.content_sparky .cell_pad .itemContainer:hover {
	-webkit-box-shadow: 0 0 7px #999;
	-moz-box-shadow: 0 0 7px #999;
	box-shadow: 0 0 7px #999;
	-moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
	transition:0.5s;
}

.content_sparky .cell_pad .itemContainerLast {
	margin-right: 40px;
}

.content_sparky .cell_pad .itemContainerLast {
	margin-right: 0 !important;
}

#k2Container {
	padding: 0;
}

#k2Container div.catItemView {
	padding: 0;
	border: none;
}

#k2Container div.catItemView .catItemBody {
	padding: 0;
}

.catItemHeaderWrap {
	padding: 0 20px;
}

#k2Container, .item-page, #k2Container.itemView {
	padding: 0 0 10px 0;
}

div.itemView {
	margin: 0;
	border: none;
}

div.latestItemsCategory h2 a {
	color: #ccc !important;
	font-weight: normal;
}

.sparky_inner div.itemListCategory h2 {
	padding-top: 0;
	margin-top: 0;
	border-bottom: none;
}

div.itemToolbar {
	background: none;
	border:none;
}

span.itemImage img, span.latestItemImage img, span.userItemImage img, span.tagItemImage img {
	border:none;
	padding: 0;
	max-width: 100%;
}

span.catItemImage img {
	border:none;
	padding: 0 0 15px 0;
	-webkit-filter: hue-rotate(150deg);
}

div.catItemHeader h3.catItemTitle,
div.userItemHeader h3.userItemTitle,
div.tagItemHeader h3.tagItemTitle {
	font-family: 'Signika', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color:#000;
	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
	text-transform: uppercase;
	border-bottom: 1px solid #e6e6e5;
}

div.catItemHeader h3.catItemTitle a,
div.userItemHeader h3.userItemTitle a,
div.tagItemHeader h3.tagItemTitle a {
	font-weight: 700;
	color:#151515;
}

div.catItemHeader span.catItemDateCreated,
div.tagItemHeader span.tagItemDateCreated {
	font-size: inherit;
	color: #9e9e9e;
}

div.latestItemCategory a, div.latestItemTagsBlock ul.latestItemTags li a, div.catItemHeader span.catItemAuthor a, div.catItemCategory a, div.catItemTagsBlock a, div.userItemCategory a, div.userItemTagsBlock a, div.tagItemCategory a {
	font-size: 14px;
}

div.catItemHeader span.catItemAuthor {
	display: inline-block;
}

div.itemCategory, div.catItemCategory, div.catItemTagsBlock, div.userItemCategory, div.userItemTagsBlock, div.tagItemView {
	border:none;
	padding: 0;
}

div.userItemTagsBlock {
	float: left;
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_tag.png) no-repeat left;
	padding: 12px 0 12px 30px;
}

span.catItemHits {
	padding: 0 5px 0 30px;
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_views.png) no-repeat;
	border-right: 1px solid #ccc;
	float: left;
	display: block;
}

span.catItemCommentsLink {
	padding: 0 10px 0 30px;
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_comment2.png) no-repeat;
	border-right: 1px solid #ccc;
	float: left;
	display: block;
}

div.catItemTagsBlock {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_tag.png) no-repeat;
	padding: 0 0 0 30px;
	margin: 0 0 0 5px;
	float: left;
}

.sparky_inner div.catItemView {
	padding: 0 20px 0 0;
}

div.itemImageBlock {
	padding: 0;
	margin: 0;
}

div.userItemImageBlock, div.tagItemImageBlock {
	padding: 0 15px 0 0;
	margin: 0;
}

span.itemImage {
	margin:0;
}

.itemView span.itemImage, .itemView .itemFullText {
	margin:0 0 30px 0;
}

span.itemImageCredits {
	background: #e2e2e2;
	font-family: serif;
	font-size: 13px;
	padding: 5px;
	margin: -30px 0 15px 0;
}

div.itemIntroText {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	padding: 0;
	line-height: 22px;
}

.sparky_inner div.itemIntroText {
	font-weight: 700;
}

div.itemFullText {
	line-height: 22px;
}

div.itemToolbar ul li, div.itemToolbar ul li a {
	font-size: 14px;
}

div.itemContentFooter, div.tagItemCategory, div.itemTagsBlock {
	padding: 0;
	margin: 0;
	border: none;
}

div.itemTagsBlock {
	padding: 4px;
}

div.itemNavigation {
	margin: 30px 0 0 0;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	padding: 7px 10px;
	background: #eee;
}

div.itemNavigation a.itemPrevious, div.itemNavigation a.itemNext {
	padding: 0;
}

div.navPrevious {
	width: 50%;
	float: left;
}

div.navNext {
	width: 50%;
	float: right;
	text-align: right;
}

div.itemAuthorBlock {
	background: none;
	border:none;
	padding:30px 0 0 0;
}

div.itemAuthorImage {
	width: 15%;
	float: left;
}

div.itemAuthorBlock img.itemAuthorAvatar {
	padding: 0;
	border: 5px solid #e5e5e5;
	border-radius: 50%;
	margin: 0;
}

div.itemAuthorDetails {
	width: 78%;
	float: left;
}

h3.itemAuthorName {
	padding: 0;
	margin: 0;
}

div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl, div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail {
	font-weight: normal;
	color: inherit;
	border-right: 0;
	padding:0;
	margin: 0;
	font-size: 12px;
	display: block;
}

div.itemAuthorLatest h3 {
	font-size: 16px;
}

div.itemAuthorLatest ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

div.itemBackToTop {
	text-align: center;
	margin-top: 30px;
}

div.itemBackToTop a {
	display: inline-block;
	width: 70px;
	height: 70px;
	background: #3bc3bb url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/back_to_top.png);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-indent: -9999px;
	border: 5px solid #3bc3bb;
}

div.itemBackToTop a:hover {
	background: #fff url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/back_to_top.png);
}

.even, .odd {
	background: none;
	padding: 0;
	border: none;
}

div.itemSocialSharing {
	padding-left: 300px;
}

div.itemRatingBlock {
	width: 280px;
	float: right;
	padding: 0;
}

div.itemRatingBlock span {
	font-size: 14px;
	line-height: 25px;
}

.itemRatingList, .itemRatingList a:hover, .itemRatingList .itemCurrentRating {
	background-image:url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/transparent_star.png) !important;
}

div.itemComments {
	background: none;
	border: none;
	padding: 30px 0 0 0;
}

div.itemComments ul.itemCommentsList li {
	padding: 0;
	margin: 0;
	border: none;
}

div.itemComments ul.itemCommentsList li img {
	float: left;
	margin: 0 15px 15px 0;
	padding: 0;
	background: #fff;
	border: none;
}

div.itemComments ul.itemCommentsList {
	font-size: 12px;
	line-height: 16px;
}

div.itemCommentsForm p.itemCommentsFormNotes {
	padding-top: 10px;
}

div.itemComments ul.itemCommentsList li img {
	border: 5px solid #e5e5e5;
	border-radius: 50%;
}

h3.itemCommentsCounter {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_comment.png) no-repeat;
	padding-left: 35px;
}

div.itemCommentsForm h3 {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_write.png) no-repeat left;
	padding: 0 0 0 35px;
	margin-top: 45px;
}

div.itemCommentsForm p.itemCommentsFormNotes {
	border:none;
	font-size: 12px;
}

span.commentLink a {
	display: inline-block;
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_link.png) no-repeat right;
	height: 18px;
	text-indent: -9999px;
}

div.itemCommentsForm form textarea.inputbox,
div.itemCommentsForm form input.inputbox {
	width: 97%;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 1%;
	font-size: 16px;
	color: inherit;
	box-shadow: inset 1px 1px 1px rgba(50,50,50,0.20);
}

div.itemCommentsForm form label.formComment,
div.itemCommentsForm form label.formName,
div.itemCommentsForm form label.formEmail,
div.itemCommentsForm form label.formUrl {
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 5px;
}

div.itemCommentsForm form input#submitCommentButton {
	display: inline-block;
	font-size: 21px;
	font-weight: 700;
	background: #3bc3bb;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	padding:12px 50px;
	margin: 15px 0 0 0;
	box-shadow:0px 3px 0px #0c141e;
	cursor: pointer;
}

div.itemCommentsForm form input#submitCommentButton:hover {
	box-shadow:0px 1px 0px #0c141e;
	background: #0c141e;
}

div.itemLinks {
	padding: 0;
	margin: 15px 0 0 0;
}

div.latestItemCategory {
	border: none;
	padding: 0;
}

div.latestItemsCategory, div.itemListCategory, div.userBlock {
	background: none;
	border: none;
	margin: 0 10px 0 0;
	padding: 0;
}

div.catItemImageBlock {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.groupLeading, #itemListSecondary .itemContainer {
	border-bottom: none;
	margin-bottom: 0;
}

.groupSecondary div.catItemImageBlock {
	float: left;
	padding: 0 20px 0 0;
}

.groupSecondary div.catItemHeaderWrap {
	width: 380px;
	float: left;
}

div.userItemBody, div.tagItemView {
	float: left;
	padding: 0;
	margin: 0;
}

div.tagItemBody, div.tagItemIntroText {
	padding: 0;
	margin: 0;
}

div.userBlock {
	background: #3bc3bb;
	padding: 15px;
	margin: 0 0 30px 0;
	color: #222;
}

div.userBlock span.userURL,
div.userBlock span.userEmail {
	font-weight: 400;
}

div.userBlock span.userURL a,
div.userBlock span.userEmail a {
	color: #fff;
}

div.userBlock h2 {
	color:#fff;
	text-align: inherit;
	border-bottom: none;
}

h2.latestItemTitle {
	text-align: inherit;
	margin: 30px 0 15px;
	padding: 0;
}

.latestItemsCategory h2 {
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	padding: 5px 0;
	background: #eee;
	margin-top: 50px;
}

div.latestItemTagsBlock {
	border: none;
	padding: 0;
}

.latestItemBody p.intro_headline, .catItemBody p.intro_headline, .userItemIntroText p.intro_headline, .tagItemIntroText p.intro_headline {
	display: none;
}

.sparky_inner div.catItemHeader {
	padding: 0 0 15px 0;
}

div.catItemBody {
	padding: 0;
}

div.catItemIntroText {
	padding: 0;
	margin: 0 0 15px 0;
}

div.k2FeedIcon a, div.k2FeedIcon a:hover {
	display: block;
	float: right;
	margin: 0;
	padding: 0;
	width: 18px;
	height: 18px;
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_rss.png) no-repeat;
}

span.catItemImage {
	padding: 0;
	text-align: left;
	margin:0;
}

div.catItemReadMore {
	display: block;
	padding: 0;
	height: 5px;
	overflow: hidden;
	-moz-transition:0.3s;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    -ms-transition:0.3s;
	transition:0.3s;
}

div.userItemReadMore {
	display: inline-block;
	float: left;
	padding: 0;
	overflow: hidden;
	-moz-transition:0.3s;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    -ms-transition:0.3s;
	transition:0.3s;
}

div.catItemView.hover div.catItemReadMore {
	height: 41px;
	-moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
	transition:0.5s;
}

div.tagItemReadMore {
	display: block;
	padding: 0;
}

div.userItemCommentsLink {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_comment2.png) no-repeat left;
	padding: 12px 15px 12px 30px;
	float: left;
	margin: 0 15px;
}

div.userItemView, div.tagItemWrap {
	padding: 20px 0;
	border-bottom: 1px solid #dfdfdf;
}

.userBlock h2 {
	padding: 0;
	margin: 0;
}

ul.pagenav {
	clear: both;
	margin: 30px 0 0 0;
}

a.k2ReadMore, p.readmore {
	display: block;
	color:#fff;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	background-color: #2ab0a8;
	background-image: -moz-linear-gradient(top, #3bc3bb, #2ab0a8);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3bc3bb), to(#2ab0a8));
	background-image: -webkit-linear-gradient(top, #3bc3bb, #2ab0a8);
	background-image: -o-linear-gradient(top, #3bc3bb, #2ab0a8);
	background-image: linear-gradient(to bottom, #3bc3bb, #2ab0a8);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bc3bb', endColorstr='#2ab0a8', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	padding: 7px 15px;
	font-family: 'Shadows Into Light', cursive;
	border-top: 1px solid #2ab0a8;
}

a.k2ReadMore:hover, p.readmore:hover {
	background: #4a4a5c;
	border-top: 1px solid #4a4a5c;
	-moz-transition:0.3s;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    -ms-transition:0.3s;
	transition:0.3s;
}

p.readmore {
	width: 108px;
	text-align: center;
}

.tagItemReadMore a.k2ReadMore {
	display: inline-block;
}

div.userBlock img {
	float: right;
	margin: 0 0 0 30px;
	padding: 0;
	border: 5px solid #333;
	border-radius: 50%;
}

div.itemHeader span.itemDateCreated,
div.userItemHeader span.userItemDateCreated {
	color: inherit;
	font-size: inherit;
	display: inline-block;
	border-right: 1px solid #ccc;
	padding-right: 5px;
}

div.itemHeader span.itemDateCreated {
	padding-left: 10px;
}

div.userItemHeader span.userItemDateCreated {
	border-right: none;
}

div.itemHeader span.itemAuthor {
	display: inline-block;
	padding-left: 5px;
}

div.itemHeader {
	width: 50%;
	float: left;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	padding: 7px 0;
	background: #eee;
	margin-bottom: 30px;
}

div.itemToolbar {
	padding: 6px 0;
	margin: 0;
	border: none;
	width: 50%;
	float: right;
	text-align: right;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	background: #eee;
	margin-bottom: 30px;
}

a.itemPrintLink, a.itemEmailLink {
	display: inline-block;
	width: 24px;
	height: 18px;
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_print.png) no-repeat;
	text-indent: -9999px;
}

a.itemEmailLink {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_email.png) no-repeat;
}

div.itemIsFeatured, div.catItemIsFeatured {
	background: none;
}

h2.itemTitle {
	border-bottom: none;
	margin-bottom: 20px;
	text-align: inherit;
}

h2.itemTitle span {
	font-weight: 400;
}

h2.itemTitle sup {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_comment.png) no-repeat right;
}

h2.itemTitle sup a {
	padding: 0 30px 0 15px;
	margin: 0;
	line-height: 30px;
	background: none;
	font-size: 12px;
}

div.isFeatured {
	padding-top: 10px;
}

span.itemFeatured {
	display: inline-block;
	background: #df3840;
	color: #fff;
	padding: 3px 5px;
	font-weight: 700;
	border-radius: 3px;
	margin-right: 5px;
}

div.itemContentFooter {
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	padding: 7px 10px;
	background: #eee;
}

span.itemHits {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_views.png) no-repeat;
	padding-left: 30px;
}

div.itemTagsBlock {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_tag.png) no-repeat;
	width: 50%;
	float: left;
}

div.itemTagsBlock ul.itemTags {
	padding-left: 30px;
}

ul.itemTags li a, ul.catItemTags li a, ul.userItemTags li a {
	background: #ddd;
	color: #666;
	font-weight: 400;
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 2px;
}

ul.itemTags li a:hover, ul.catItemTags li a:hover, ul.userItemTags li a:hover {
	background: #3bc3bb;
	color: #fff;
}

div.itemRelated {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/citation_bg.png);
	padding: 25px 0;
	margin-top: 50px;
}

div.itemRelated h3 {
	padding: 0 0 10px 0;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #dfdfdf;
	color: #151515;
	font-size: 21px;
}

div.itemRelated ul {
	padding: 0;
	margin: 0;
}

div.itemRelated li {
	padding: 0;
	margin: 0 0 0 30px;
}

div.itemRelated img {
	max-width: 100%;
	margin-bottom: 15px;
}

div.itemRelCat {
	display: inline;
}

div.userItemIsFeatured {
	background-color: #eee;
}

span.userItemImage, span.tagItemImage {
	margin: 0 8px 0 0;
}

/* tabs in K2 */

#tabs ul.ui-tabs-nav {
	margin:0 0 10px 0;
	padding: 0;
	list-style: none;
	text-align: center;
	height: 90px;
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/pixel_cyan.png) center repeat-x;
}

#tabs ul.ui-tabs-nav li {
	margin:0;
	padding: 0;
	display: inline-block;
	width: 175px;
	height: 90px;
}

#tabs ul.ui-tabs-nav li:focus {
	outline: none;
}

#tabs ul.ui-tabs-nav li a {
	width: 11px;
	height: 11px;
	display: inline-block;
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/dot_cyan.png);
	text-indent: -9999px;
	margin-top: 40px;
}

#tabs ul.ui-tabs-nav li.ui-state-active a {
	background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/dot_yellow_full.png);
}

/* K2 image effects */

.image_mask {
	position:absolute;
	width:290px;
	height:220px;
	background:#3bc3bb;
	opacity:.5;
	-moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
	transition:0.5s;
	z-index: 1;
}

span.catItemImage a {
	display: block;
}

.hover .image_mask {
	opacity:0;
	-moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
	transition:0.5s;
}

/* K2 module styling */

.k2ItemsBlock ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.k2ItemsBlock li {
	margin: 0;
	padding: 0 0 10px 0;
}

.cols-2 div.item {
	width: 46%;
	float: left;
	margin: 0 4% 0 0;
}

.contentbox-wrapper-video iframe {
	border: 0;
}

/* responsive behaviour */

@media (min-width: 768px) and (max-width: 979px) {

	img {
		max-width: 100%;
	}

	select.tinynav {
		margin-top: 5px;
	}

	.content_sparky .cell_pad .itemContainer {
		width: 220px !important;
		margin-right: 30px;
	}

	.image_mask {
		width: 220px;
		height: 167px;
	}

	.ticket_price {
		font-size: 22px;
	}

	.music_player div.note {
		display: none;
	}

	.music_player div.album_songs {
		width: 100%;
		float: none;
	}

	#gallery_nav li, #video_nav li {
		width: 100px;
	}

	#gallery img, a.last_thumb img {
		margin: 0px 56px 30px 56px !important;
	}

	.contentbox {
		width: 724px;
	}

	div.userItemBody, div.tagItemView {
		width: 400px;
	}

}

@media (max-width: 767px) {

	.hero-carousel article .contents h2 {
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 15px;
	}

	.hero-carousel article .contents {
		width: 90%;
		margin: 0 auto;
		font-size: 18px;
		top: 180px;
	}

	.music_social {
		margin-top: 360px;
		padding-top: 0;
		text-align: center;
	}

	.hero-carousel article, .hero-carousel.hero-carousel-container {
		height: 410px !important;
	}

	.hero-carousel-nav li {
		width: 40px;
		height: 40px;
	}

	.hero-carousel-nav li a {
		font-size: 30px;
		width: 40px;
		height: 40px;
	}

	.sparky_logo_image img {
		width: 250px;
	}

	.hero-carousel-nav {
		bottom: 270px;
	}

	.mp_user1, .mp_user2 {
		width: 46%;
		margin: 0 2%;
		float: left;
	}

	select.tinynav {
		margin-top: 5px;
	}

	#tabs ul.ui-tabs-nav {
		display: none;
	}

	.content_sparky {
		padding: 45px 0 30px 0;
	}

	#k2Container h1 {
		padding-bottom: 30px;
	}

	.content_sparky .cell_pad .itemContainer {
		width: 96% !important;
		margin: 0 2% 30px 2%;
	}

	span.catItemImage img {
		width: 100% !important;
	}

	.image_mask {
		display: none;
	}

	.content_sparky .ui-tabs-panel {
		display: block !important;
	}

	.tour_cell {
		text-indent: 0;
		line-height: normal;
		height: 40px;
		width: 23%;
		padding: 0 1%;
	}

	.mp_advert2 .cell_pad,
	.mp_advert3 .cell_pad,
	.mp_advert4 .cell_pad,
	.mp_advert5 .cell_pad,
	.mp_advert6 .cell_pad,
	.sparky_inner .content_sparky .cell_pad {
		margin: 0 10px;
	}

	#months li, #pics_video > ul > li {
		margin: 0 2px;
	}

	.ticket_form .left_part {
		width: 100%;
		float: none;
		background: url(/web/20190124171219im_/http://bandarepublica.com/templates/hot_music_band/images/custom/ticket.png) top center no-repeat;
	}

	.ticket_form {
		padding-top: 60px;
	}

	.ticket_form .right_part {
		width: 100%;
		float: none;
		margin-left: 0;
	}

	.ticket_price {
		text-align: center;
	}

	.music_player div.note, #gallery_nav, #video_nav {
		display: none;
	}

	.music_player div.album_songs,
	div.audio_player,
	div.audio_player audio,
	.contentbox,
	.contentbox-wrapper,
	.contentbox-wrapper-video,
	div.latestItemsContainer,
	span.tagItemImage img,
	span.userItemImage img,
	div.tagItemImageBlock,
	div.userItemImageBlock,
	span.note_music_band {
		width: 100% !important;
		float: none;
	}

	div.album_songs img {
		width: 100% !important;
		margin-bottom: 30px;
	}

	.song_name {
		padding-left: 0;
	}

	#gallery img {
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
	}

	.contentbox-wrapper-video iframe {
		max-width: 100%;
		height: 40%;
		margin-bottom: 15px;
		border: 0;
	}

	.rapid_contact.email, .rapid_contact.subject, .rapid_contact textarea {
		width: 96%;
		margin: 5px 0;
		padding: 2%
	}

	div.button_wrap {
		width: 100%;
	}

	img.social_bottom {
		margin: 0 1%;
		width: 15%;
	}

	div.itemHeader, div.itemToolbar {
		height: 40px;
	}

	div.itemToolbar {
		padding: 7px 0;
	}

	div.itemAuthorImage {
		width: 30%;
	}

	div.itemAuthorDetails {
		width: 70%;
	}

	img.img_right, img.img_left {
		width: 100%;
		margin: 0 0 15px 0;
	}

	.cols-2 div.item {
		width: 100%;
		float: none;
	}

	#months li, #pics_video > ul > li {
		width: 50px;
		height: 50px;
		margin: 0 5px;
		font-size: 20px;
		line-height: 50px;
	}

	.ticket_price {
		font-size: 22px;
	}

}

.moduletablemusica div { position:relative; float:none; margin: auto; padding:0px;}

.random-image { border-bottom: #606060 solid 5px; }

.item-page { font-size:1.4em;}

.item-page img{ border:#606060 solid 5px; }

.sparky_home .item-page img{ border:none; }
.mp_advert3 { text-align:center;}
.inputbox  {}
div.contact_form { float:none; width:320px; margin:auto; }
.moduletablecontacto1 h3 { width:500px; }
input.contacto1 { height:10px; width:250px;}
textarea.contacto1 {  width:250px;}
input.button  { height:35px;}

/*
     FILE ARCHIVED ON 17:12:19 Jan 24, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:38:48 Jul 19, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 56.431 (3)
  captures_list: 79.855
  RedisCDXSource: 0.922
  esindex: 0.016
  CDXLines.iter: 18.621 (3)
  PetaboxLoader3.resolve: 156.575 (2)
  exclusion.robots: 0.216
  PetaboxLoader3.datanode: 120.385 (5)
  exclusion.robots.policy: 0.2
  load_resource: 285.69 (2)
*/