/*------------------------------------------------------------------------
# "Hot Music Band" - Joomla Template by HotThemes
# Copyright (C) 2013 HotThemes. All Rights Reserved.
# License: http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
# Author: HotJoomlaTemplates.com
# Website: http://www.hotjoomlatemplates.com
-------------------------------------------------------------------------*/

body {
	background: #111;
}

.music_tour,
div.music_gallery,
.rapid_contact input,
.rapid_contact textarea,
div.music_social_bottom,
div.k2Pagination ul li span,
div.pagination ul li span,
div.itemCommentsForm form input#submitCommentButton,
div.userBlock,
ul.itemTags li a:hover,
ul.catItemTags li a:hover,
ul.userItemTags li a:hover,
.image_mask {
	background: #222;
}

div.itemBackToTop a {
	background-color: #a7b5d8;
	border: 5px solid #a7b5d8;
}

a.k2ReadMore, p.readmore {
	background-color: #333;
	background-image: -moz-linear-gradient(top, #444, #333);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#333));
	background-image: -webkit-linear-gradient(top, #444, #333);
	background-image: -o-linear-gradient(top, #444, #333);
	background-image: linear-gradient(to bottom, #444, #333);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444', endColorstr='#333', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-top: 1px solid #333;
}

a.k2ReadMore:hover, p.readmore:hover {
	background: #000;
	border-top: 1px solid #000;
}

.content_sparky .cell_pad .itemContainer, div.k2Pagination ul, div.pagination ul, ul.pagenav {
	-webkit-box-shadow: 0 0 4px #000;
	-moz-box-shadow: 0 0 4px #000;
	box-shadow: 0 0 4px #000;
	border: 1px solid #000;
}

.tour_cell, .music_player h3 {
	border-bottom: 1px solid #444;
}

table.tour_table, hr {
	border-top: 1px solid #444;
}

#tabs ul.ui-tabs-nav, #gallery_nav ul, #video_nav ul {
	background: url(/web/20190123070301im_/http://bandarepublica.com/templates/hot_music_band/images/custom/pixel_grey.png) center repeat-x;
}

#tabs ul.ui-tabs-nav li a {
	background: url(/web/20190123070301im_/http://bandarepublica.com/templates/hot_music_band/images/custom/dot_purple.png);
}

#gallery_nav li a, #video_nav li a {
	background: url(/web/20190123070301im_/http://bandarepublica.com/templates/hot_music_band/images/custom/dot_purple2.png);
}

a {
	color: #a7b5d8;
}

.social_icons a span.facebook {
	background: url(/web/20190123070301im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_facebook4.png);
}

.icon_facebook:hover,
.social_icons a span.facebook::before,
.social_icons a:hover span.facebook::before,
.cl-effect-2 a:focus span.facebook::before {
	background: url(/web/20190123070301im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_facebook_hover4.png);
}

.social_icons a span.twitter {
	background: url(/web/20190123070301im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_twitter4.png);
}

.icon_twitter:hover,
.social_icons a span.twitter::before,
.social_icons a:hover span.twitter::before,
.cl-effect-2 a:focus span.twitter::before {
	background: url(/web/20190123070301im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_twitter_hover4.png);
}

.social_icons a span.soundcloud {
	background: url(/web/20190123070301im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_soundcloud4.png);
}

.icon_soundcloud:hover,
.social_icons a span.soundcloud::before,
.social_icons a:hover span.soundcloud::before,
.cl-effect-2 a:focus span.soundcloud::before {
	background: url(/web/20190123070301im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_soundcloud_hover4.png);
}

.social_icons a span.myspace {
	background: url(/web/20190123070301im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_myspace4.png);
}

.icon_myspace:hover,
.social_icons a span.myspace::before,
.social_icons a:hover span.myspace::before,
.cl-effect-2 a:focus span.myspace::before {
	background: url(/web/20190123070301im_/http://bandarepublica.com/templates/hot_music_band/images/custom/icon_myspace_hover4.png);
}

div.itemHeader, div.itemToolbar, div.itemContentFooter, div.itemNavigation {
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	background: #111;
}

div.itemHeader span.itemDateCreated, div.userItemHeader span.userItemDateCreated, div.k2Pagination ul li a, div.k2Pagination ul li span, div.pagination ul li a, div.pagination ul li span, ul.pagenav li a {
	border-right: 1px solid #444;
}

span.itemImageCredits {
	background: #000;
}

div.catItemHeader h3.catItemTitle, div.userItemHeader h3.userItemTitle, div.tagItemHeader h3.tagItemTitle, div.userItemView, div.tagItemWrap, h2 {
	border-bottom: 1px solid #444;
}

div.catItemHeader h3.catItemTitle a, div.userItemHeader h3.userItemTitle a, div.tagItemHeader h3.tagItemTitle a {
	color: #999;
}

.pane-toggler-down, .pane-toggler {
	background: #111;
	border: 1px solid #444;
}

strong {
	color: #999;
}


.mnu_mainmenu > li.active > a, .mnu_mainmenu > li.active > span {
color: #db2808 !important; }
.mnu_mainmenu > li > a:hover, .mnu_mainmenu > li:hover > a, .mnu_mainmenu > li > a:hover, .mnu_mainmenu > li:hover > span {
color: #f46f57;}



/*
     FILE ARCHIVED ON 07:03:01 Jan 23, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:38:48 Jul 19, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.datanode: 128.343 (5)
  CDXLines.iter: 21.736 (3)
  LoadShardBlock: 45.997 (3)
  PetaboxLoader3.resolve: 86.93 (2)
  exclusion.robots.policy: 0.216
  esindex: 0.013
  exclusion.robots: 0.228
  captures_list: 73.805
  RedisCDXSource: 1.597
  load_resource: 185.889 (2)
*/