/*------------------------------------------------------------------------
# "Hot Full Carousel" Joomla module
# Copyright (C) 2012 HotJoomlaTemplates.com. All Rights Reserved.
# License: http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
# Author: HotJoomlaTemplates.com
# Website: http://www.hotjoomlatemplates.com
-------------------------------------------------------------------------*/

.hero {
	width: 100%;
	position: relative;
	overflow: hidden;
}
	
.hero-carousel article.carousel-article {
	margin: 0 auto;
	display: block;
	float: left;
	position: relative;
}
				
.hero-carousel-container article.carousel-article {
	float: left;
}
	
.hero-carousel article.carousel-article .contents {
	position: relative;
}

.hero-carousel article.carousel-article a  {
	color: #fff;
	text-decoration: none;
}

.hero-carousel-nav {
    position: absolute;
    z-index: 20;
    width: 100%;
    text-align: center;
    display: none;
}

ul.hero-carousel-nav {
	padding: 0 !important;
    margin: 0 !important;
}
    
.hero-carousel-nav li {
    bottom: 0;
    list-style: none !important;
    background-image:none;
    margin: 0 !important;
    padding: 0 !important;
}
    
.hero-carousel-nav li.prev {
    position: absolute;
    right: auto;
}

.hero-carousel-nav li.next {
    position: absolute;
}
    
.hero-carousel-nav li a {
    border: none;
    outline: none;
    display: block;
    float: left;
    text-decoration: none;
}
    
.hero-carousel-nav li a:active,
.hero-carousel-nav li a:focus { 
    border: none;
    outline: none;
}
/*
     FILE ARCHIVED ON 21:15:49 Jan 27, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:36:23 Jul 19, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 101.053
  exclusion.robots: 0.156
  exclusion.robots.policy: 0.147
  RedisCDXSource: 18.211
  esindex: 0.009
  LoadShardBlock: 54.335 (3)
  PetaboxLoader3.datanode: 129.286 (5)
  CDXLines.iter: 25.329 (3)
  load_resource: 180.634 (2)
  PetaboxLoader3.resolve: 75.5 (2)
*/